@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="content">
        <div class="text-center">
            <h1 class="display-4 text-black-50">Bienvenido a oficondo.do</h1>
        </div>
        <div class="logo">
            <img src="~/images/oficondo.png" />
        </div>
    </div>
</div>