@page "/"
<div class="container">
    <div class="justify-content-center">
        <h1>Bienvenido a Oficondo</h1>

        <h4>Usando esta aplicación puede tener control de sus condominios.</h4>
        <br/>
        @*<AuthorizeView>
            <Authorized>
                <button @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="NavigateToLogin">Ingresa aquí</button>
                <br/>
                <button @onclick="NavigateToRegister">Registrate</button>
            </NotAuthorized>
        </AuthorizeView>*@
        <SurveyPrompt Title="How is Blazor working for you?" />
        <div class="justify-content-center">
            <img src="images/oficondo.png" alt="Oficondo" />
        </div>
    </div>
</div>