@page "/register"

<div class="mt-5 row">
    <div class="card col-12 col-lg-6 mr-auto ml-auto p-3">
        <h3 class="card-title">Registro</h3>
        <div class="card-body">
            <EditForm Model="@RegisterViewModel" OnValidSubmit="HandleValidSubmit">
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="firstName">Nombre:</label>
                    <InputText id="firstName" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.FirstName"></InputText>
                </div>
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="lastName">Apellido:</label>
                    <InputText id="lastName" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.LastName"></InputText>
                </div>
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="email">Correo:</label>
                    <InputText id="email" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.Email"></InputText>
                </div>
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="userName">Usuario:</label>
                    <InputText id="userName" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.UserName"></InputText>
                </div>
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="password">Contraseña:</label>
                    <InputText id="password" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.Password"></InputText>
                </div>
                <div class="input-group col mt-2">
                    <label class="col-12 col-md-4 p-0" for="phone">Teléfono:</label>
                    <InputText id="phone" class="col-12 col-md-8 login-field" @bind-Value="RegisterViewModel.Phone"></InputText>
                </div>
                <div class="input-group row mt-2">
                    <div class="offset-md-4">
                        <button class="m-2 p-2">Registrarse</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>