
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="content">
    <div class="logo">
        <img src="~/images/oficondo.png" />
    </div>
</div>
