<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">OfiCondo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="oi oi-dashboard" aria-hidden="true"></span>  Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="paymentmethods">
                <span class="fas fa-credit-card" aria-hidden="true"></span> Métodos de pago
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="fas fa-money-check" aria-hidden="true"></span> Cuentas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="condominia">
                <span class="fas fa-tachometer-alt" aria-hidden="true"></span> Condominios
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="fas fa-chart-line" aria-hidden="true"></span> Reportes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="administration">
                <span class="fas fa-user-shield" aria-hidden="true"></span> Administración
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="fas fa-cog" aria-hidden="true"></span> Configuración
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
